[submodule "scripting-resolver/sling-org-apache-sling-scripting-sightly"]
	path = scripting-resolver/sling-org-apache-sling-scripting-sightly
	url = git@github.com:apache/sling-org-apache-sling-scripting-sightly.git
	branch = experimental-scripting-resolver
