/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html {
    background: #ffffff;
}

body {
    background: url(/content/demo/assets/coffee-shop@1x.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: #791f1f4a;
    background-blend-mode: screen;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

@media only screen and (min-resolution: 2dppx) {
    body {
        background: url(/content/demo/assets/coffee-shop@2x.jpg) no-repeat center center fixed;
        background-size: cover;
        background-color: #791f1f4a;
        background-blend-mode: screen;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.content {
    text-align: center;
    color: white;
    background-color: #00000069;
    border-radius: 20px;
}

.coffee {
    padding: 5px;
    font-size: 2em;
}

a {
    text-decoration: none;
    border-bottom: dotted 1px;
    color: inherit;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th, td {
    padding: 20px;
}

thead th, tfoot th {
    font-family: 'Rock Salt', cursive;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: center;
}

tfoot th {
    text-align: right;
}
